/*
form: .add-chef-form
input: .name-input
input: .price-input
input: .cuisine-input
input: .post-input
*/

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.fa-user{
    padding: 15px;
    background-color: greenyellow;
    color: black;
}

.fa-dollar-sign{    
    padding: 18px;
    background-color: greenyellow;
    color: black;}

.add-chef {
    display: flex;
    flex-flow: wrap;
    border: 2px solid black;
    background-color:grey;
    border-radius: 20px;
}

.add-chef-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

input {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-size-adjust: 14px;
}

.post-input{
    background-color: greenyellow;
}

.post-input:hover {
    color: greenyellow;
    background-color: orange;
}