/*
form: .add-chef-form
input: .name-input
input: .price-input
input: .cuisine-input
input: .post-input
*/
main{
    background-image: url(../images/other/img1.jpg);
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.form-header{
    color: whitesmoke;
}

.add-chef{
    display: flex;
    flex-flow: wrap;
    border: 2px solid black;
    background-color:grey;
    border-radius: 20px;
}

.add-chef-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

input {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-size-adjust: 14px;
    border-style: none;
}

select.cuisine-option{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    border-radius: 10px;
}


.post-input{
    background-color: green;
    color: white;
    font-weight: bold;
}

.post-input:hover {
    color: black;
    background-color: orange;
}

.add-chef-image{
    display: flex;
    border-radius: 20px;
    object-fit: cover;
    width: 250px;

}

.image-container{
    display:flex;
    justify-content: center;
    align-content: center;
}

.chef-image{
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}