/*
form: .add-chef-form
input: .name-input
input: .price-input
input: .cuisine-input
input: .post-input

*/


.add-chef-form {
    border: 1px solid black;
    align-items: center;
    height: 150px;
    margin: 10px;
    text-align: center;
    justify-content: space-around;
}

input {
    margin-top: 20px;
    border: 1px solid pink;
}

.post-input {
    background-color: lawngreen;
}