.chef-image{
    object-fit: scale-down;
    display: flex;
    width: 100vw;
    height: 350px;
}

h2{
    display: flex;
    justify-content: center;
    align-content: center;
}

/*
template literals:
div: .chef-list
span: .chef-name
span: .chef-price
span: .chef-cuisine
*/
/*
    `<div class="chef-list" data-id="${data[i].id}">
        <span class="chef-name">
            ${data[i].name}
        </span>
        <span class="chef-price">
            ${data[i].price}
        </span>
        <span class="chef-cuisine">
            ${data[i].cuisine}
        </span>
    </div>`
*/