.wrapper{
    /* border: 2px solid black; */
    min-height: 40vh;
}

h1.header{
    text-align: center;
    margin-top: 15px; 
    margin-bottom: 15px;
    font-size: 30pt;
    
}
/* container that contains 4 description boxes  */
.description-boxes {
    display: flex;
    /* width: 90%; */
    justify-content: space-evenly;
    /* border: 2px solid green; */
    background-color: white;
    margin: auto;
    min-height: 40vh;
    flex-wrap: wrap;
    align-items: center;
}
/* 4 boxes inside description-boxes,  */
.description-item {
    /* flex-grow: 2; */
    border-style: solid;
    border-color: rgb(214, 209, 209);
    border-width: 1px;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 5px;
    /* box-shadow: 5px 10px #b9b8b8; */
    box-shadow: 0 0 20px rgb(146, 143, 143);
}

/* paragraph describing boxes */
p {
    font-family: 'Cairo', sans-serif;
    font-size: 10pt;
    margin-top: 15px;
    /* border: 2px solid black; */
}



/* ----------------------------- */
.main-image{
    display: flex;
    object-fit: cover;
    width: 100vw;
    height: 450px;
}


.form-section{
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
    min-height: 30vh;
    align-items: center;
}

select {
    margin: 10px;
}

.chef-data-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black;   */
    min-height: 120px;
}

.form-option{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location-input{
    width: 150px;
    height: 25px;
    flex-wrap: wrap;
    display: flex;
}

.cuisine-input {
    width: 150px;
    height: 25px;
    flex-wrap: wrap;
    display: flex;
}

.price-input {
    width: 150px;
    height: 25px;
    flex-wrap: wrap;
    display: flex;
}

#submitBtn:hover {
    background-color: orange;
    color: black;
}

#submitBtn {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color:green;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
}


/*--------Things Being Appended---------------------*/
.search-chef-listing{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.search-chef-listing>div{
    margin: 10px 0;
}
/* child of chef-info-conatiners */
.chef-container {
    border-style: solid;
    border-color: rgb(233, 228, 228);
    background-color: rgb(240, 234, 234);
    padding: 10px;
    width: 200px;
    height: 100%;
    border: 2px solid black;
    display:flex;
    align-items: center;
    flex-flow: column;
}

.chef-container>div{
    padding: 5px;
}

.chef-image {
    width: 100px;
    height: 100px;
    border: 2px solid green;
}

/* cookie rating icon */
.fa-cookie-bite {
    color: rgb(110, 81, 18);
    font-size: 15pt;
    border: 1px solid blue;
}

/* container where cookies live */
/* .rating { */
    /* border: 1px solid black; */
/* } */

/* profile icon in chef info */
.fa-user-circle {
    color: #108143;
    font-size: 70pt;
    text-align: center;
    /* border: 1px solid black; */
    width: 100%;

}

.request-btn {
    border: 1px solid rgb(226, 206, 170);
    background: #108143;
    color: rgb(240, 234, 234);
    font-weight: bold;
    line-height: 0.5;
    padding: 1em 2em;
    text-align: center;
    cursor: pointer;
}
.request-btn:hover {
    background: orange;
    color: black;
}



/* 
= template literal =
- div: #showChef
- h3: #chefName
- p: #chefPrice
- p: #chefCuisine
*/

@media only screen and (max-width: 480px) {
    .description-item {
        width: 400px;
    }
}