main {
    text-align: center;
}

.cuisine-input {
    width: 100px;
    height: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.price-input {
    width: 100px;
    height: 25px;
    margin-top: 15px;
}
#price {
    color: 21bf73;
}

#submitBtn {
    background-color:green;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#showChef{
    background-color: grey;
    margin: 10px;
    padding: 10px;
    width: 150px;
}

#chefName {
    color: orange;
}

#chefPrice{
    color: greenyellow;
}

#chefCuisine{
    color: greenyellow;
}



/* 
= template literal =
- div: #showChef
- h3: #chefName
- p: #chefPrice
- p: #chefCuisine
*/