<footer>
    <div class="container-wrapper">
        <div class="order-1">
            <h4 class="project-title-sm">
                <a href="https://www.omfgdogs.com/" target="_blank">
                    PROJECT 2
                </a>
            </h4> 
            <div class="github-link">
                <h4>Project Code</h4>
                <a 
                    href="https://github.com/awwmicky/project-2-chef-to-chef"
                    target="_blank"
                    title="Project 2 GitHub"
                />
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <div class="order-2 contribution-members">
            <h5>Contributions:</h5>
            <nav>
                <ul>
                    <li>
                        <i class="fab fa-github"></i>
                        <a
                            href="https://github.com/wilsonwong1"
                            target="_blank"
                            title="Wilson's GitHub"
                        />
                            Wilson Wong
                        </a>
                    </li>
                    <li>
                        <i class="fab fa-github"></i>
                        <a
                            href="https://github.com/LarryYuki"
                            target="_blank"
                            title="Larry's GitHub"
                        />
                            Larry Yuki
                        </a>
                    </li>
                    <li>
                        <i class="fab fa-github"></i>
                        <a
                            href="https://github.com/hermsicle"
                            target="_blank"
                            title="Herman's GitHub"
                        />
                            Herman Liu
                        </a>
                    </li>
                    <li>
                        <i class="fab fa-github"></i>
                        <a
                            href="https://github.com/huancal"
                            target="_blank"
                            title="Huan's GitHub"
                        />
                            Huan Nguyen
                        </a>
                    </li>
                    <li>
                        <i class="fab fa-github"></i>
                        <a
                            href="https://github.com/awwmicky"
                            target="_blank"
                            title="Micky's GitHub"
                        />
                            Micky F. Alvarez
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <p class="order-3 team-chef">
            <span>© Copyright Chef Boyz'R'D</span>
            <i class="fas fa-user-astronaut"></i>
        </p>
    </div>
</footer>
{{!--  --}}