<header>
    <div class="container-wrapper">
        <div class="header-logo">
            <a href="/error-page">
                <i class="fas fa-bong"></i>
            </a>
            <h1 class="project-title-lg">
                Cook'n'Cookies
            </h1>
        </div>
        <nav class="navbar">
            <ul class="nav-opts">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/chef-listing">
                        View All
                    </a>
                </li>
                <li>
                    <a href="/add-chef">
                        Add Chef
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu-bar">
            <a href="#" class="nav-btn">
                <i class="fas fa-bars"></i>
            </a>
            <a href="#" class="exit-btn">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</header>