<header>
    <div class="container-wrapper">
        <div class="project-header">
            <i class="fas fa-user-astronaut"></i>
            <h1 class="project-title-lg">LOGO</h1>
        </div>

        <nav class="navbar">
            <ul class="nav-opts">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/">
                        View All
                    </a>
                </li>
                <li>
                    <a href="/testing">
                        ETC
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>



{{!-- <i class="fas fa-user-astronaut"></i> --}}
{{!-- <i class="fas fa-meteor"></i> --}}
{{!-- <i class="fas fa-rocket"></i> --}}
{{!--  --}}