<header>
    <div class="container-wrapper">
        <div class="header-logo">
            <a href="/error-page">
                <i class="fas fa-bong"></i>
            </a>
            <h1 class="project-title-lg">
                Cook'n'Cookies
            </h1>
        </div>
        <nav class="navbar">
            <ul class="nav-opts">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/chef-listing">
                        View All
                    </a>
                </li>
                <li>
                    <a href="/add-chef">
                        Add Chef
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu-bar">
            <a href="#" class="nav-btn">
                <i class="fas fa-bars"></i>
            </a>
            <a href="#" class="exit-btn">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</header>

{{!-- 
<span style="text-align: center">
<i class="fas fa-kiwi-bird"></i>
<i class="fas fa-user-astronaut"></i>
<i class="fas fa-meteor"></i>
<i class="fas fa-rocket"></i>
<i class="fas fa-cookie"></i>
<i class="fas fa-bong"></i>
<i class="fas fa-joint"></i>
<i class="fas fa-cannabis"></i>
<i class="fas fa-briefcase-medical"></i>
<i class="fas fa-burn"></i>
<i class="fas fa-diagnoses"></i>
<i class="fas fa-chess-rook"></i>
<i class="fab fa-cuttlefish"></i>
<i class="fas fa-store"></i>
<i class="fab fa-accessible-icon"></i>
<i class="fas fa-cloud-meatball"></i>
<i class="fas fa-utensils"></i>
<i class="fas fa-drumstick-bite"></i>
</span> 
--}}