<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="[160 max-char]">
    <meta name="author" content="[developer name]">
    
    <title>Cook'n'Cookies: {{ title }}</title>
    
    {{!-- Icon --}}
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="/images/icons/favicon-alt.png">
    <link rel="icon" sizes="192x192" type="image/png" href="/images/icons/favicon-alt.png">
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    {{!-- CSS/ --}}
    <link rel="stylesheet" type="text/css" href="/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="/CSS/parts/header.css">
    <link rel="stylesheet" type="text/css" href="/CSS/parts/footer.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="/CSS/{{ style }}">
</head>

<body>

    {{> header }}
    {{{ body }}}
    {{> footer }}

    {{!-- JQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!-- JS/ --}}
    <script type="text/javascript" src="/JS/app.js"></script>
    <script type="text/javascript" src="/JS/{{ script }}"></script>
</body>

</html>



{{!-- 
<span style="text-align: center">
<i class="fas fa-kiwi-bird"></i>
<i class="fas fa-user-astronaut"></i>
<i class="fas fa-meteor"></i>
<i class="fas fa-rocket"></i>
<i class="fas fa-cookie"></i>
<i class="fas fa-bong"></i>
<i class="fas fa-joint"></i>
<i class="fas fa-cannabis"></i>
<i class="fas fa-briefcase-medical"></i>
<i class="fas fa-burn"></i>
<i class="fas fa-diagnoses"></i>
<i class="fas fa-chess-rook"></i>
<i class="fab fa-cuttlefish"></i>
<i class="fas fa-store"></i>
<i class="fab fa-accessible-icon"></i>
<i class="fas fa-cloud-meatball"></i>
<i class="fas fa-utensils"></i>
<i class="fas fa-drumstick-bite"></i>
</span> 
--}}
{{!-- 
<i class="fas fa-user-secret"></i>
<i class="fas fa-hands-helping"></i>
<i class="fas fa-parachute-box"></i>
<i class="fas fa-concierge-bell"></i>
<i class="fas fa-chess-rook"></i>
<i class="fas fa-address-card"></i>
<i class="fab fa-gripfire"></i>
<i class="fas fa-seedling"></i>
<i class="fas fa-leaf"></i>
 --}}