<main>
    <form class="add-chef-form">
        <input type="text" class="name-input">
        <input type="number" class="price-input">
        <input type="text" class="cuisine-input">
        <input type="submit" value="POST JOB">
    </form>
</main>
<!--     -->