<main>
    <div class="container">
        <div class="add-chef">
            <form class="add-chef-form">
                <h2 class="form-header">Fill Out This Form To Add Chef!</h2>
                <br>
                <div class="input-container">
                    <i class="fas fa-user"></i>
                    <input type="text" class="name-input" placeholder="Full Name" autofocus>
                </div>
                <div class="input-container">
                    <i class="fas fa-dollar-sign"></i>
                    <input type="number" class="price-input" placeholder="Select Price Range">
                </div>
                <div class="input-container">
                    <i class="fas fa-utensils"></i>
                    <input type="text" class="cuisine-input" placeholder="Input Cuisine Type">
                </div>
                <div class="input-container">
                    <i class="fas fa-share"></i>
                    <input type="submit" class="post-input" value="POST JOB">
                </div>
            </form>
        </div>
    </div>
</main>
<!--     -->