<main>
    <div class="container">
        <div class="add-chef">
            <form class="add-chef-form">
                <h2 class="form-header">Add Your Chef!</h2>
                <br>
                <div class="input-container">
                    <input 
                        type="text" 
                        name="name"
                        class="name-input" 
                        placeholder="Your Name"
                        autocomplete="off" 
                        autofocus
                        required
                    />
                </div>
                <div class="input-container">
                    <input 
                        type="number" 
                        name="price"
                        class="price-input" 
                        placeholder="Select Price Range"
                        autocomplete="off"
                        min="10"
                        max="100"
                        step="10"
                        required
                    />
                </div>
                <div class="input-container">
                    <select name="Select A Cuisine" class="cuisine-option">
                        <option value="x" selected disabled>Select A Cuisine Type</option>
                        <option value="chinese">Chinese</option>
                        <option value="mexican">Mexican</option>
                        <option value="american">American</option>
                    </select>
                </div>
                {{!-- 
                <div class="input-container">
                    <select name="Pick A Title" class="title-option">
                        <option value="x" selected disabled>Pick A Title</option>
                        <option value="Personal Chef">Personal Chef</option>
                        <option value="Line Cook">Line Cook</option>
                        <option value="Master Chef">Master Chef</option>
                    </select>
                </div>
                <div class="input-container">
                    <select name="Pick A Location" class="location-option">
                        <option value="x" selected disabled>Pick A Location</option>
                        <option value="San Jose">San Jose</option>
                        <option value="San Francisco">San Francisco</option>
                        <option value="San Mateo">San Mateo</option>
                    </select>
                </div> 
                --}}
                <div class="input-container">
                    <input type="submit" class="post-input" value="POST CHEF">
                </div>
            </form>
        </div>
    </div>
</main>