<main>
    <div class="container">
        <div class="add-chef">
            <form class="add-chef-form">
                <h2 class="form-header">Add Your Chef!</h2>
                <br>
                <div class="input-container">
                    <input type="text" class="name-input" placeholder="Name" autofocus>
                </div>
                <div class="input-container">
                    <input type="number" class="price-input" placeholder="Select Price Range">
                </div>
                <div class="input-container">
                    <input type="text" class="cuisine-input" placeholder="Input Cuisine Type">
                </div>
                <div class="input-container">
                    <input type="submit" class="post-input" value="POST CHEF">
                </div>
            </form>
        </div>
    </div>
</main>
<!--     -->