<main>
    <div>
        <div class="container">
            <img src="/images/other/chef.jpg" class="chef-image">
            <h2>Viewing All Chefs In Database</h2>
        </div>
    </div>
    <section class="chef-listing">

</main>
<!--     -->