<main>
    <div>
        <form class="chef-data-form">
            <select class="cuisine-input">
                <option value="mexican">mexican</option>
                <option value="chinese">chinese</option>
                <option value="american">american</option>
            </select>
            <select class="price-input">
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
            </select>
            <br>
            <input id="submitBtn" type="submit" value="SUBMIT">
        </form>
    </div>

    <section class="results"></section>
</main>
<!--     -->