<main>
    <div>
        <form class="chef-data-form">
            <label for="cuisine">Pick a cuisine</label>
            <select autofocus name="cuisine" class="cuisine-input">
                <option value="mexican">mexican</option>
                <option value="chinese">chinese</option>
                <option value="american">american</option>
            </select>
            <br>
            {{!-- <label for="price">Choose a price range</label> --}}
            <select name="price" class="price-input">
                <option value="x" selected disabled>How many 20s you gonna spend</option>
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
            </select>
            <br>
            {{!-- <label for="submit">Find that chef</label> --}}
            <input name="submit" id="submitBtn" type="submit" value="Find my chef!">
        </form>
    </div>
    <section class="results"></section>
</main>
<!--     -->