<main>

    <section class="wrapper">
        <div class="parent">
            <div class="jumbotron">
                <h1>Find a Chef</h1>
            </div>
        </div>
    </section>

    <section class="wrapper">
        <div class="parent2">
            <div class="child">SEARCH
                <p>Use the tool below to search our Chef roster. Once you find the perfect Private Chef begin the Meal
                    Request form.</p>
            </div>
            <div class="child">REQUEST
                <p>Submit the Meal Request form to get started. Provide details such as desired dish or cuisine type,
                    number of people, location and ideal date.
                </p>
            </div>
            <div class="child">REVIEW
                <p>
                    Once you have submitted you Meal Request form our team will send you a custom Meal Summary for final
                    review and confirmation.
                </p>
            </div>
            <div class="child">CONFIRMATION
                <p>
                    Once you are satisfied with your Meal Summary and no further changes need to be made submit payment
                    to hire your own Private Chef!
                </p>
            </div>
        </div>

    </section>



</main>