<main>


    {{!-- slider with images --}}

    <div class="slider-wrapper">
        <ul class="slider-nav">
            <li class="slider-nav__item"><label class="slider-nav__label" for="one">○</label></li>
            <li class="slider-nav__item"><label class="slider-nav__label" for="two">○</label></li>
            <li class="slider-nav__item"><label class="slider-nav__label" for="three">○</label></li>
            <li class="slider-nav__item"><label class="slider-nav__label" for="four">○</label></li>
            <li class="slider-nav__item"><label class="slider-nav__label" for="five">○</label></li>
        </ul>
        <div class="slider">
            <input type="radio" name="slider" class="trigger" id="one" checked="checked" />
            <div class="slide">
                <figure class="slide-figure">
                    <img class="slide-img" src="https://restaurantden.com/wp-content/uploads/2017/09/stocksnap.jpg" />
                </figure>
            </div>
            <input type="radio" name="slider" class="trigger" id="two" />
            <div class="slide">
                <figure class="slide-figure">
                    <img class="slide-img" src="https://restaurantden.com/wp-content/uploads/2017/09/unsplash.jpg" />
                </figure>
            </div>
            <input type="radio" name="slider" class="trigger" id="three" />
            <div class="slide">
                <figure class="slide-figure">
                    <img class="slide-img" src="https://restaurantden.com/wp-content/uploads/2017/09/pexels.jpg" />
                </figure>
            </div>
            <input type="radio" name="slider" class="trigger" id="four" />
            <div class="slide">
                <figure class="slide-figure">
                    <img class="slide-img"
                        src="https://restaurantden.com/wp-content/uploads/2017/09/iso-republic.jpg" />
                </figure>
            </div>
            <input type="radio" name="slider" class="trigger" id="five" />
            <div class="slide">
                <figure class="slide-figure">
                    <img class="slide-img" src="https://restaurantden.com/wp-content/uploads/2017/09/freestocks.jpg" />
                </figure>
            </div>
        </div>
    </div>






    {{!-- description boxes  --}}

    <section class="wrapper">
        <div class="title-page">
            <div class="jumbotron">
                <h1>Find a Chef</h1>
            </div>
        </div>
    </section>


    <section class="wrapper">
        <div class="description-boxes">
            <div class="child">SEARCH
                <div class="image"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLT4ik4oH11Dr4d8H8CWAcacAIsSnqI28yYjjK3STg2HjXJyzGOQ&s"
                        width="65px" height="65px">
                </div>
                <p>Use the tool below to search our Chef roster.</p>
            </div>
            <div class="child">REQUEST
                <div class="image"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLtUdwDhlIVwrnkAGg5ETxm981otZ44stA9QwJYgRpUMb3UsmXTg&s"
                        width="65px" height="65px">
                </div>
                <p>Submit the request by providing details such as desired cuisine type,
                    price range and location.
                </p>
            </div>
            <div class="child">REVIEW
                <div class="image"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXi3GxCvKohuIFYkpSVudWPxqaSHu782p4Vm6uje0OKUDFEFBcIw&s"
                        width="65px" height="65px">
                </div>
                <p>
                    Once you have submitted your request our team will send you your custom Meal Summary for final
                    review and confirmation.
                </p>
            </div>
            <div class="child">CONFIRMATION
                <div class="image"><img src="https://image.flaticon.com/icons/svg/809/809485.svg" width="65px"
                        height="65px">
                </div>
                <p>
                    Once you are satisfied with your selection, submit payment
                    to hire your own Personal Chef!
                </p>
            </div>
        </div>
    </section>







    {{!-- spot for Herman's search bar --}}
    <section class="wrapper">
        <div class="search-container">
            <div class="search-bar">

            </div>
        </div>
    </section>











    {{!-- container containing chef info  --}}

    <div class="container" id="appended-chefs">
        <section class="chef-info">
            <div class="chef-info-container">
                <div class="child-chef">
                    <h3>Miley</h3>
                    <p>Price:</p>
                    <p>Cuisine:</p>
                    <div class="chef-image">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="rating">
                        <i class="fas fa-cookie-bite"></i><i class="fas fa-cookie-bite"></i><i
                            class="fas fa-cookie-bite"></i><i class="fas fa-cookie-bite"></i><i
                            class="fas fa-cookie-bite"></i>
                    </div>
                    <div class="btn-container">
                        <button class="request-btn" "mr-5">Request</button>
                    </div>

                </div>
                <div class="child-chef">
                    <h3>Herms</h3>
                    <p>Price:</p>
                    <p>Cuisine:</p>
                    <div class="chef-image" id="">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="rating">
                        <i class="fas fa-cookie-bite"></i><i class="fas fa-cookie-bite"></i><i
                            class="fas fa-cookie-bite"></i><i class="fas fa-cookie-bite"></i><i
                            class="fas fa-cookie-bite"></i>
                    </div>
                    <div class="btn-container">
                        <button class="request-btn" "mr-5">Request</button>
                    </div>
                </div>

                <div class="child-chef">
                    <h3>Larry</h3>
                    <p>Price:</p>
                    <p>Cuisine:</p>
                    <div class="chef-image">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="rating">
                        <i class="fas fa-cookie-bite"></i><i class="fas fa-cookie-bite"></i><i
                            class="fas fa-cookie-bite"></i><i class="fas fa-cookie-bite"></i><i
                            class="fas fa-cookie-bite"></i>
                    </div>
                    <div class="btn-container">
                        <button class="request-btn" "mr-5">Request</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>